<ion-header>
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding fadeIn">
  <!-- Contenido de la página de inicio -->

  <div class="container">
    <img src="assets/TellevoApp.jpg" alt="Logo de la página" class="logo floatingImage" >
    
                                <!-- Pone el nombre de la pagina "link" -->
                                              <!-- | -->
    <ion-button expand="block" routerLink="/registrouser">Registrarse</ion-button>
    <ion-button expand="block" routerLink="/iniciarsesion">Iniciar sesión</ion-button>
    <ion-content>
  
    </ion-content>
  </div>

</ion-content>

